<h1>Movies in our DB!</h1>
{{#if moviesFromDB}}
  {{#each moviesFromDB}}
    <h3>{{title}}</h3>
    <a href="/movies/{{_id}}">See detalls!</a>
  {{/each}}
{{else}}
  <h2>No celebrities on our DB!</h2>
{{/if}}

{{! Hay que dejar aquí solamente los títulos. El resto es para el detalle. FLIPAO }}